body {
  font-family: "Segoe UI", Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.marker {
  font-family: "Permanent Marker", cursive;
}

/* Optional: style for the main app container */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 32px 0;
  width: 100vw;
}

.notepad-bg {
  background-color: #f5f6fa;
  background-image: repeating-linear-gradient(
    to bottom,
    #b0c4de 0 0.12em,
    transparent 0.12em 2.5em
  );
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
